
<div class="main-center-show">
<%# ここに左右の矢印挿入し、患者を次の患者へ切り替え %>

  <div class="main-center-show1">

  <%# 上側　患者の基本情報 %>
    <div class="upper-block">

      <div class="photo">
        <%= image_tag 'dummy.png', class: "item-img" %>
      </div>

      <div  class="basic_info1">
        <br>
        ID：5555555<br>
        フリガナ：ヤマダハナコ<br>
        名前：山田花子<br>
        性別：女性<br>
      </div>

      <div  class="basic_info2">
        <br>
        生年月日：1966-11-12<br>
        年齢：　56歳<br>
        血液型：B 　+<br>
        移送区分：護送<br>
      </div>


    </div>
  <%# 下側　タブでの詳細情報 %>
    <div class="lower-block">
      <main>
        <ul class="tabs">
          <li><a href="" class="active">基本情報</a></li>
          <li><a href="" >連絡先１</a></li>
          <li><a href="" >連絡先２</a></li>
          <li><a href="" >アレルギー</a></li>
          <li><a href="" >感染症</a></li>
          <li><a href="" >食事</a></li>
          <li><a href="" >健康保険</a></li>
          <li><a href="" >入院歴</a></li>
        </ul>

        <ul class="contents">
          <li class="active">補足</a>
            <div class="additional-basic-info">
            　既往歴　　　+　アナムネ
            　あああああああああああああああああああああああああああああああああああああああ
            　いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい
            　ううううううううううううううううううううううううううううううううううううううう
            　えええええええええええええええええええええええええええええええええええええええ
            　おおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおお
            </div>
          </li>
          <li>連絡先１</a>
              <div class="em-contact1"> 京都府京都市伏見区泰長老1-4-5</div>
          </li>
          <li>連絡先２</a>
              <div class="em-contact2"> 愛媛県松山市西一万4-8-6</div>
          </li>
          <li>アレルギー</a>
          　卵、さば、アルコール、
          </li>
          <li>感染症</a>
          　HCV, HBV, MRSA・・・・
          </li>
          <li>食事</a>
            食事形態　普通、五分粥、キザミ食、。。。。
          </li>
          <li>健康保険</a>
            国民健康保険、船員保険、社会保険、後期高齢者医療制度、
          </li>
          <li>入院歴</a>
            入院歴
          </li>
        </ul>
      </main>

    </div>
  </div>
</div>