
<div class="main-center-show">
<%# ここに左右の矢印挿入し、患者を次の患者へ切り替え %>

  <div class="main-center-show1">

<%# 上側　患者の基本情報 %>
  <div class="upper-block">




  </div>



<%# 下側　タブでの詳細情報 %>
  <div class="lower-block">

  </div>


  </div>
</div>