<div class="wrapper">

  <div class="side-bar">
    <%= render "side_bar" %>
  </div>

  <div class="main-part">
    <%= render "main-header" %>
    <%= render "main-center-show" %>
    <%= render "main-footer" %>
  </div>

</div>