<div class="main-header">
  <div class="main-header-wrap">

    <div class="main-header-ward">
      <select name="ward-num">
        <option value='2'>外来</option>
        <option value='3'>1病棟</option>
        <option value='4'>2病棟</option>
      </select>
    </div>



    <div class="main-header-contents">
    </div>
  </div>
</div>


