.wrapper {
  display: flex;
}


/* サイドバー */
.side-bar {
  background-color: #00ced1;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
}

.side-bar-center {
  background-color: #6495ed;
  height: calc(100vh - 100px);
}



/* メインパート */
.main-header {
  background-color: #ee80ee;
  height: 80px;
}

.main-center {
  background-color: #FFFFFF;
  width: calc(100vw - 230px);
  height: calc(100vh - 80px - 50px);
}

.main-footer {
  background-color: #FA8072;
  height: 50px;
}